header.header 
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. A tempora, dolore aliquid, asperiores eum velit rem aut, ducimus nihil eos possimus modi incidunt est impedit excepturi nobis sequi quasi dolor.
  img.header__img(src="@img/1.jpg" alt="1")
