@font-face{
	font-family: Hlobus;
	font-display: swap;
	src: url("../fonts/Hlobus.woff2") format("woff2"), url("../fonts/Hlobus.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: IdealGothic Bold;
	font-display: swap;
	src: url("../fonts/IdealGothic Bold.woff2") format("woff2"), url("../fonts/IdealGothic Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
